.slider-container {
  max-width: 100vw;
  margin: auto;
  overflow: visible !important;
  margin-top: 50px;
  position: relative;
}

.slick-slide {
  padding: 0 10px;
}

.slick-list {
  overflow: visible !important;
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  outline: none;
}

.slick-slide img:focus {
  outline: none;
}

.slick-center .slick-slide img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  z-index: 10;
}

.slick-prev, .slick-next {
  z-index: 1000;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
